<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @gist.is_public %>
</p>

<p>
  <strong>User:</strong>
  <%= @gist.user %>
</p>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
