
<%= form_for(@file_list) do |f| %>
  <% if @file_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_list.errors.count, "error") %> prohibited this file_list from being saved:</h2>

      <ul>
      <% @file_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
    <div id="editor"/>
  </div>
  <div class="field">
    <%= f.label :gist_id %><br>
    <%= f.text_field :gist_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  var editor = ace.edit("editor");
  var textarea = $('#file_list_content');
  textarea.hide();
  editor.getSession().setValue(textarea.val());
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
  });

    $('.add_nested_fields_link').on('click', function(){
      console.log('kl')
      var editor = ace.edit("editor");
    });


</script>